body{
    
    background-color: #383838;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-position: center;
    background-size: cover;
}
h1{
    
    color: #400E32;
    font-size: 35px;
    
}
.container{
    width: 85vmin;
    
    
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #fd590100;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgb(24, 24, 30);
    display: flex;
    align-self: center;
    margin-right: 0.5cm;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 18s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
    height: auto;
}
.stanga{
    display: flex;
    flex-direction: column;
    margin-left: 0.2cm; 
}
.dreapta{
    
    align-items: start;
    width: 55%;
}
.prez{
    display: flex;
    background-color: rgba(240, 248, 255, 0.689);
    margin: 0.5cm;

}
table {
    width: 100%;
    border: 1px solid;
    font-size: 20px;
    background-color: #f2921d;
  }
.informatii{
    display: flex;
    background-color: rgba(240, 248, 255, 0.689);
    flex-direction: column;
    margin: 0.5cm;
    padding: 0.2cm;
}
tr, td{
    border: 1px solid;;
}